#b1{
    background-color: red;
}

#b2{
    background-color: yellow;
}
#b3{
    background-color: green;
}

a{
    text-decoration: none;
}
#b1 input{
    background-color: rgb(151, 46, 46);
    border-color: rgb(92, 45, 45);
}

#adicionar{
    border-radius: 4em;
    margin-top: 2em;
    height: 4em;
    width: 4em;
}